<div class="container mt-5">
  <h3> New <%= @list.name.downcase %> movie </h3>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit class: 'btn-submit mt-3'%>
  <% end %>
</div>
